.add-image{
    display: flex;
    flex-direction: column;
    gap: 24px;
    align-items: center;
    justify-content: center;
}
.form-add{
    display: flex;
    flex-direction: column;
    gap: 24px;
    align-items: center;
}
.fadd{
    padding: 16px;
    height: 16px;
    border-color:  #D9D9D9;
    border-style:solid;
    width: 100%;
}
.form-add textarea{
    padding: 16px;
    height: 16px;
    border-color:  #D9D9D9;
    border:solid 1px;
    outline: none;
    width: 100%;
    min-height: 96px;
    resize: none;

}
.btn-b{
    border-radius: 4px;
    height: 40px;
    font-size: 18px;
    border: none;
}
.details-add{
    margin-top: 64px;
display: flex;
flex-direction: row;
align-items: flex-start;
justify-content: center;
gap: 64px;

}